<%= link_to "Add new member", new_member_path %>
<div class="members-container">
  <% @members.each do |mem| %>
    <div class="member">
      <%= mem.username %>: <%= mem.points %> points
    </div>
  <% end %>
</div>

<%= will_paginate @members %>
